{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>

    <table class="table table-striped table-hover text-left">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        {{ transaction.symbol }}
                    </td>
                    <td>
                        {{ transaction.shares }}
                    </td>
                    <td>
                        {{ usd(transaction.price) }}
                    </td>
                    <td>
                        {{ transaction.date }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
