{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Current Holdings</h2>

    <table class="table table-striped table-hover text-left">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tfoot class="font-weight-bold">
            <tr>
                <td colspan="4"></td>
                <td>
                    {{ usd(total) }}
                </td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>
                        {{ stock.symbol }}
                    </td>
                    <td>
                        {{ stock.name }}
                    </td>
                    <td>
                        {{ stock.shares }}
                    </td>
                    <td>
                        {{ usd(stock.price) }}
                    </td>
                    <td>
                        {{ usd(stock.total) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    CASH
                </td>
                <td>
                    {{ usd(user_cash) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
